*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(58, 192, 0),rgb(21, 114, 0));
position: relative;
}
.container-fluid img{
    display: none;
}
@media only screen and (max-width: 767px){
    .container-fluid img{
        display: block;
    }
    .container-fluid .pages_01 a button{
        position: absolute;
        top: 60%;
        left: 5%;
        transform: translate(-50%, -50%);
        padding: 15px;
        border-radius: 20px;
        border: none;
        background-color: green;
        color: #fff;
        animation: animate 1s infinite;
        transition: .1s  all;
        font-size: 3rem;
    }
}

@media only screen and (max-width: 767px){
    .container-fluid{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgb(58, 192, 0),rgb(0, 0, 0));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
    .container-fluid img{
        width: 100%;
        height: 100vh;

    }
}
.container-fluid .pages_01{
    width: 100%;
    height: auto;
    
}
.container-fluid  a button{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: green;
    color: #fff;
    animation: animate 1s infinite;
    transition: .1s  all;
    font-size: 4rem;
}
@keyframes animate{
    from{
        transform: scale(0.7);
        transition: .2s  all;
    }
    to{
        transform: scale(0.6);
        transition: .2s  all ease;
    }
}